#amplify
hubsub-app/\#current-cloud-backend
hubsub-app/.config/local-*
hubsub-app/logs
hubsub-app/mock-data
hubsub-app/backend/amplify-meta.json
hubsub-app/backend/awscloudformation
hubsub-app/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*

#terraform 
# Compiled files
*.tfstate
*.tfstate.backup

# Module directory/lock file
.terraform*